.elementor-widget-concreteiron-title-superscript {
    margin-bottom: 0 !important;
}

.elementor-widget-concreteiron-subheading,
.elementor-widget-concreteiron-subtitle {
    margin-bottom: 0 !important;
}

.elementor-widget-concreteiron-paragraph {
    margin-bottom: 0 !important;
}


#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item.mega-button > a.mega-menu-link {
    background: #343434;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0px 20px 0px 20px;
    height: 50px;
    display: flex;
    line-height: 50px;
}
