.send-message {

}

.or-send-message h4 {
    font-size: 14px;
    text-align: center;
}

form.send-message .form-title {
    display: none;
}

form.send-message input[type=phone],
form.send-message input[type=email],
form.send-message input[type=text],
form.send-message textarea {
    line-height: inherit;
    border: 2px solid #f6f6f6;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

form.send-message textarea {
    height: 6em;
}

form.send-message h4 {
    display: none;
}

form.send-message input[type=submit],
form.send-message button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E4AD52;
}

form.send-message input::placeholder {
    font-size: 12px;
}

form.send-message abbr,
form.send-message .form-description {
    display:none;
}